extends layout

block content
  h1= login
  p Welcome to #{title}
  div
    form(action='/fak',method='post')
        div.form-group
            label(for='name') name
            input(id='name',type='text',value='',placeholder='',name='name',class="form-control")
        div#passworddiv.form-group
            label(for='password') password
            input(id='password',type='password',value='',placeholder='',name='password',class="form-control")
        div(data-role='fieldcontain')   
        input(type='submit',value='Log In',class='btn btn-dark' )
    br
    br
    br
    a(href="/signup" class="btn btn-info") Signup